<!-- Content area -->
<!--Show list of categories-->
<div class="container">
    <div class="row">
        <div class="Customtitle mb-1 w-100">
            <div class="my-mark">
                <p class="ml-3" style="font-size:20px">Danh sách các chuyên mục quản lý</p>
            </div>
        </div>
        <div style="background-color: white; font-weight:bold; min-height: 500px; font-size: 20px;" class="w-100">
            <ul style="list-style-type:none;" class="mt-2">
                {{#each this.categories }}
                <li><img src="/img/thethao.png" style="width:20px; height:20px"> {{this.row.name}}
                    <a data-target="#formupdate{{this.row.id}}" data-toggle="modal"><img src="/img/edit.png"
                            style="width:25px; height:25px;"></a></li>

                <ul style="list-style-type:none; font-size: 15px; font-weight: normal;" class="my-1">
                    {{#each this.children}}
                    <li><img src="/img/folder.png" style="width:15px; height:15px">
                        {{name}}
                        <a data-target="#formupdate{{id}}" data-toggle="modal"><img src="/img/edit.png"
                                style="width:20px; height:20px;"></a>
                    </li>
                    {{/each}}
                </ul>
                {{/each}}
                <button class="btn btn-outline-success" data-target="#formAddCategory" data-toggle="modal"><i
                        style="font-size: 20px; font-weight: normal; text-decoration: none; color: black">Thêm chuyên
                        mục</i>
                </button>
            </ul>
        </div>
    </div>
    <div class="modal fade" id="formAddCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/manageCategories" method="POST">
                        <div class="form-group">
                            <label for="categoryName" class="col-form-label">Tên chuyên mục</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName">
                        </div>
                        <div class="form-group">
                            <label for="parent" class="col-form-label" >Chuyên mục cha</label>
                            <select id="parent" class="form-control"  name="parent">
                                <option value="0">None</option>
                                {{#each this.categories}}
                                    <option value="{{row.id}}">{{row.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Add</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    {{#each this.categories}}
    <div class="modal fade" id="formupdate{{this.row.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/manageCategories/{{this.row.id}}" method="POST">
                        <div class="form-group">
                            <label for="categoryName" class="col-form-label">Tên chuyên mục</label>
                            <input placeholder="{{this.row.name}}" type="text" class="form-control" id="categoryName" name="categoryName" required>
                        </div>
                         <button type="submit" class="btn btn-outline-success">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each this.categories}}
        {{#each this.children}}
        <div class="modal fade" id="formupdate{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/admin/manageCategories/{{id}}" method="POST">
                            <div class="form-group">
                                <label for="categoryName" class="col-form-label">Tên chuyên mục</label>
                                <input placeholder="{{name}}" type="text" class="form-control" id="categoryName" name="categoryName" required>
                            </div>
                            <button type="submit" class="btn btn-outline-success">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    {{/each}}
</div>
<!--End show list-->

<!-- End of content -->