<!-- Content area -->
<!--Show list of user-->
<div class="container">
    <div class="row">
        <div class="Customtitle mb-1 w-100">
            <div class="my-mark">
                <p class="ml-3" style="font-size:20px">Danh sách các người dùng quản lý</p>
            </div>
        </div>
        <div style="background-color: white; font-weight:bold; min-height: 500px; font-size: 20px;" class="w-100">
            <ul style="list-style-type:none;" class="mt-2">
                <li><img src="/img/phongvien.png" style="width:20px; height:20px"> Phóng Viên
                    <ul style="list-style-type:none; font-size: 15px; font-weight: normal;" class="my-1">
                        {{#each this.writer}}
                        <li><img src="/img/check.png" style="width:15px; height:15px">
                            {{name}}&nbsp;
                            <a data-target="#formupdateWriter{{id}}" data-toggle="modal"> <img src="/img/edit.png"
                                    style="width:20px; height:20px;" data-toggle="modal"
                                    data-target="#myModal"></a>&nbsp;&nbsp;<a data-target="#formDelete{{id}}"
                                data-toggle="modal"><img src="/img/delete.png" style="width:20px; height:20px;"></a>
                        </li>
                        {{/each}}
                        <a data-target="#formAddWriter" data-toggle="modal"> <img src="/img/plus.png"
                                style="width:15px; height:15px"><i
                                style="font-size: 15px; font-weight: normal; text-decoration: none; color: black">Thêm
                                phóng viên</i></a>
                    </ul>


                <li><img src="/img/editor.png" style="width:20px; height:20px"> Biên tập viên


                    <ul style="list-style-type:none; font-size: 15px; font-weight: normal;" class="my-1">
                        {{#each this.editor}}
                        <li><img src="/img/check.png" style="width:15px; height:15px">
                            {{row.name}}&nbsp;
                            <a data-target="#formupdateEditor{{row.id}}" data-toggle="modal"> <img src="/img/edit.png"
                                    style="width:20px; height:20px;" data-toggle="modal"
                                    data-target="#myModal"></a>&nbsp;&nbsp;<a data-target="#formDelete{{row.id}}"
                                data-toggle="modal"><img src="/img/delete.png" style="width:20px; height:20px;"></a>
                        </li>
                        {{/each}}
                        <a data-target="#formAddEditor" data-toggle="modal"> <img src="/img/plus.png"
                                style="width:15px; height:15px"><i
                                style="font-size: 15px; font-weight: normal; text-decoration: none; color: black">Thêm
                                biên tập viên</i></a>
                    </ul>
                <li><img src="/img/user.png" style="width:20px; height:20px"> Độc giả

                    <ul style="list-style-type:none; font-size: 15px; font-weight: normal;" class="my-1">
                        {{#each this.usernormal}}
                        <li><img src="/img/check.png" style="width:15px; height:15px">
                            {{name}}&nbsp;
                            <a data-target="#formupdateUser{{id}}" data-toggle="modal"> <img src="/img/edit.png"
                                    style="width:20px; height:20px;" data-toggle="modal"
                                    data-target="#user"></a>&nbsp;&nbsp;<a data-target="#formDelete{{id}}"
                                data-toggle="modal"><img src="/img/delete.png" style="width:20px; height:20px;"></a>
                        </li>
                        {{/each}}
                        <a data-target="#formAddUser" data-toggle="modal"> <img src="/img/plus.png"
                                style="width:15px; height:15px"><i
                                style="font-size: 15px; font-weight: normal; text-decoration: none; color: black">Thêm
                                độc giả</i></a>
                    </ul>
            </ul>
        </div>
    </div>
</div>
<!--End show list-->
{{#each this.writer}}
<div class="modal fade" id="formupdateWriter{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật phóng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageUser/writer/{{id}}" method="POST">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Tên phóng viên</label>
                        <input placeholder="{{name}}" type="text" class="form-control" id="writerName"
                            name="writerName">
                    </div>
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Mật khẩu</label>
                        <input placeholder="mật khẩu mới" type="text" class="form-control" id="writerPassword"
                            name="writerPassword">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formDelete{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa phóng viên này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageUser/delete/{{id}}" method="POST">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Tên phóng viên</label>
                        <input placeholder="{{name}}" type="text" class="form-control" id="writerName"
                            name="writerName">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{#each this.usernormal}}
<div class="modal fade" id="formupdateUser{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật độc giả</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageUser/user/{{id}}" method="POST">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Tên độc giả</label>
                        <input placeholder="{{name}}" type="text" class="form-control" id="userName" name="userName">
                    </div>
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Mật khẩu</label>
                        <input placeholder="mật khẩu mới" type="text" class="form-control" id="userPassword"
                            name="userPassword">
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="renew{{id}}" name="renew">
                        <label class="custom-control-label" for="renew{{id}}">Gia hạn</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-success ">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formDelete{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa độc giả này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageUser/delete/{{id}}" method="POST">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Tên độc giả</label>
                        <input placeholder="{{name}}" type="text" class="form-control" id="writerName"
                            name="writerName">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#each this.editor}}
<div class="modal fade" id="formupdateEditor{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật biên tập viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageUser/editor/{{row.id}}" method="POST">
                    <div class="form-group">
                        <label for="editorName" class="col-form-label">Tên biên tập viên</label>
                        <input placeholder="{{row.name}}" type="text" class="form-control" id="editorName"
                            name="editorName">
                    </div>
                    <div class="form-group">
                        <label for="editorPassword" class="col-form-label">Mật khẩu</label>
                        <input placeholder="mật khẩu mới" type="text" class="form-control" id="editorPassword"
                            name="editorPassword">
                    </div>
                    <label for="CategoryManage" class="col-form-label">Phân công chuyên mục</label>
                    <select id="CategoryManage" class="form-control" name="CategoryManage">
                        <option value="{{row.categoryId}}">{{row.categoryName}}</option>
                        {{#each this.childCat}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <button type="submit" class="btn btn-outline-success mt-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formDelete{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa biên tập viên này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageUser/delete/{{row.id}}" method="POST">
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Tên biên tập viên</label>
                        <input placeholder="{{row.name}}" type="text" class="form-control" id="writerName"
                            name="writerName">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}

<div class="modal fade" id="formAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate action="/admin/manageUser/user" method="POST" id="frmAddUser">
                    <div class="form-group">
                        <label for="nameUser" class="col-form-label">Tên</label>
                        <input type="text" class="form-control" id="nameUser" name="nameUser">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">password</label>
                        <input type="text" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Add</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="formAddWriter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Writer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate action="/admin/manageUser/writer" method="POST" id="frmAddWriter">
                    <div class="form-group">
                        <label for="nameWriter" class="col-form-label">Bút danh</label>
                        <input type="text" class="form-control" id="nameWriter" name="nameWriter">
                    </div>
                    <div class="form-group">
                        <label for="emailWriter" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailWriter" name="emailWriter">
                    </div>
                    <div class="form-group">
                        <label for="usernameWriter" class="col-form-label">username</label>
                        <input type="text" class="form-control" id="usernameWriter" name="username">
                    </div>
                    <div class="form-group">
                        <label for="passwordWriter" class="col-form-label">password</label>
                        <input type="text" class="form-control" id="passwordWriter" name="passwordWriter">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Add</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="formAddEditor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate action="/admin/manageUser/editor" method="POST" id="frmAddEditor">
                    <div class="form-group">
                        <label for="nameEditor" class="col-form-label">Tên</label>
                        <input type="text" class="form-control" id="nameEditor" name="nameEditor">
                    </div>
                    <div class="form-group">
                        <label for="emailEditor" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailEditor" name="emailEditor">
                    </div>
                    <div class="form-group">
                        <label for="usernameEditor" class="col-form-label">username</label>
                        <input type="text" class="form-control" id="usernameEditor" name="username">
                    </div>
                    <div class="form-group">
                        <label for="passwordEditor" class="col-form-label">password</label>
                        <input type="text" class="form-control" id="passwordEditor" name="passwordEditor">
                    </div>
                    <div class="form-group">
                        <label for="CategoryManage" class="col-form-label">Phân công chuyên mục</label>
                        <select id="CategoryManage" class="form-control" name="CategoryManage">
                            {{#each this.categories}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Add</button>
                </form>
            </div>

        </div>
    </div>
</div>

{{!-- {{#section 'js'}} --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#frmAddUser').validate({
            rules: {
                username: {
                    required: true,
                    remote: {
                        url: '/account/is-available'
                    }
                },
                password: {
                    required: true,
                    minlength: 6
                },

                nameUser: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
            },
            messages: {
                username: {
                    required: 'Your username is required.',
                    remote: 'Your username has been taken, please take another.'
                },
                password: {
                    required: 'Your password is required.',
                    minlength: 'Your password must have at least 6 characters.'
                },

                nameUser: {
                    required: 'Valid full name is required.',
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.'
                },
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    });

    $('#frmAddWriter').validate({
        rules: {
            username: {
                required: true,
                remote: {
                    url: '/account/is-available'
                }
            },
            passwordWriter: {
                required: true,
                minlength: 6
            },

            nameWriter: {
                required: true,
            },
            emailWriter: {
                required: true,
                email: true
            },
        },
        messages: {
            username: {
                required: 'Your username is required.',
                remote: 'Your username has been taken, please take another.'
            },
            passwordWriter: {
                required: 'Your password is required.',
                minlength: 'Your password must have at least 6 characters.'
            },

            nameUser: {
                required: 'Valid full name is required.',
            },
            emailWriter: {
                required: 'Please enter a valid email address.',
                email: 'Please enter a valid email address.'
            },
        },
        errorElement: 'small',
        errorClass: 'help-block text-danger',
        highlight: function (e) {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (e) {
            $(e).removeClass('is-invalid').addClass('is-valid');
        }
    });

    $('#frmAddEditor').validate({
        rules: {
            username: {
                required: true,
                remote: {
                    url: '/account/is-available'
                }
            },
            passwordEditor: {
                required: true,
                minlength: 6
            },

            nameEditor: {
                required: true,
            },
            emailEditor: {
                required: true,
                email: true
            },
        },
        messages: {
            username: {
                required: 'Your username is required.',
                remote: 'Your username has been taken, please take another.'
            },
            passwordEditor: {
                required: 'Your password is required.',
                minlength: 'Your password must have at least 6 characters.'
            },

            nameEditor: {
                required: 'Valid full name is required.',
            },
            emailEditor: {
                required: 'Please enter a valid email address.',
                email: 'Please enter a valid email address.'
            },
        },
        errorElement: 'small',
        errorClass: 'help-block text-danger',
        highlight: function (e) {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (e) {
            $(e).removeClass('is-invalid').addClass('is-valid');
        }
    });
</script>
{{!-- {{/section}} --}}
<!-- End of content -->