<!-- Content area -->
<!--Show list of categories-->
<div class="container">
    <div class="row">
        <div class="Customtitle mb-1 w-100">
            <div class="my-mark">
                <p class="ml-3" style="font-size:20px">Danh sách các nhãn quản lý</p>
            </div>
        </div>
        <div style="background-color: white; font-weight:bold; min-height: 500px; font-size: 20px;" class="w-100">
            <ul style="list-style-type:none;" class="mt-2">
                {{#each this.tag}}
                <li><img src="/img/tag.png" style="width:20px; height:20px">{{name}}
                    <a data-target="#formUpdateTag{{id}}" data-toggle="modal"> <img src="/img/edit.png"
                            style="width:25px; height:25px;"></a></li>
                {{/each}}
                <a data-target="#formAddTag" data-toggle="modal"> <img src="/img/plus.png" style="width:20px; height:20px"><i
                            style="font-size: 20px; font-weight: normal; text-decoration: none; color: black">Thêm
                            nhãn</i></a>
            </ul>
        </div>
    </div>
</div>

{{#each this.tag}}
<div class="modal fade" id="formUpdateTag{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageTag/{{id}}" method="POST">
                    <div class="form-group">
                        <label for="tagName" class="col-form-label">Tên Tag</label>
                        <input placeholder="{{name}}" type="text" class="form-control" id="tagName"
                            name="tagName" required>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
<div class="modal fade" id="formAddTag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/manageTag" method="POST">
                    <div class="form-group">
                        <label for="tagNameAdd" class="col-form-label">Tên Tag</label>
                        <input placeholder="nhập tên tag" type="text" class="form-control" id="tagNameAdd"
                            name="tagNameAdd" required>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End show list-->

<!-- End of content -->