<div class="container">
    {{#each this.singlepost}}
    <form id="frmPublish" action="/admin/review/{{category_id}}/{{id}}" method="POST"></form>
    {{/each}}
    <div class="row">

        <div class="col-lg-8 col-sm-12 bg-white">
            <!-- cột 1, bài viết -->
            {{#each this.singlepost}}
            <!-- cột 1, bài viết -->
            <div class="my-mark ">
                <p class="ml-3">{{catname}}</p>
            </div>
            <div class="col-lg-8 col-sm-12 bg-white">
                <h1 class="title-article">{{title}}</h1>
                <div class="post-date">{{create_at}}</div>
                <h6 class="sumary-article">{{description}}</h6>
                {{{content}}}
                {{/each}}
            </div>
        </div>
        <!-- end cột 1 -->

        <!-- cột 2, các bài viết cùng chuyên mục, các bài viết mới-->
        <div class="col-lg-4 col-sm-12">

            <!-- Các bài viết cùng chuyên mục -->
            <div style="background-color: white;">

                <h5>Publish</h5>
                <hr>
               
                <div style="text-align:right;" class="mt-2">
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#exampleModal">Reject</button>
                     <button onclick="Publish()" type="submit" class="btn btn-outline-success mx-lg-2" style="float:right;">
                        Publish
                    </button>
                </div>
                <hr>
            </div>
        </div>
    
    </div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">message for jounalist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{#each this.singlepost}}
                    <form id="frmReject" action="/admin/review/{{category_id}}/{{id}}" method="POST">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">From</label>
                            <input type="text" class="form-control" id="name" name ="name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea  class="form-control" id="message-text" name ="message_reject" required="required"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger"> Reject</button>
                    </form>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

<script>
    function Publish(){
        $('#frmPublish').submit();
    }
</script>