<form id="frmSignout" action="/account/logout" method="POST"></form>
<div class="row header-logo " style="background-color: #f0f1f4;">
    <div class="d-flex justify-content-between">
        <!-- col-xl-9 col-lg-12 -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
            <a href="/"><img class="logo" src="/images/logo.png" alt=""></a>
        </div>
        <div class="" class="login-register-icons">
            <!--col-xl-3 col-lg-12   -->
            <div class="row mt-4" style="display:flex; justify-content:flex-end;">
                {{ #if isAuthenticated }}
                <div class="dropdown dropleft">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        {{ user.name }}
                    </button>
                    {{ #if isAdmin }}
                    <div class="dropdown-menu " style="position: absolute; z-index: 2000">
                        <a class="dropdown-item" href="/account/profile/{{user.id}}">Thông tin cá nhân</a>
                        <a class="dropdown-item" href="/admin/manageCategories">Quản lí chuyên mục</a>
                        <a class="dropdown-item" href="/admin/manageTag">Quản lí tag</a>
                        <a class="dropdown-item" href="/admin/manageArticle">Quản lí bài viết</a>
                        <a class="dropdown-item" href="/admin/manageUser">Quản lí danh sách người dùng</a>
                        <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">Logout</a>
                    </div>
                    {{ else}}
                    {{ #if isEditor }}
                    <div class="dropdown-menu " style="position: absolute; z-index: 2000">
                        <a class="dropdown-item" href="/account/profile/{{user.id}}">Thông tin cá nhân</a>
                        <a class="dropdown-item" href="/editor/manageArticle">Quản lí chuyên mục của mình</a>
                        <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">Logout</a>
                    </div>
                    {{ else}}
                    {{ #if isWriter }}
                    <div class="dropdown-menu " style="position: absolute; z-index: 2000">
                        <a class="dropdown-item" href="/account/profile/{{user.id}}">Thông tin cá nhân</a>
                        <a class="dropdown-item" href="/writer/upload">Đăng bài viết mới</a>
                        <a class="dropdown-item" href="/writer/manageArticle">Danh sách bài viết</a>
                        <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">Logout</a>
                    </div>
                    {{ else}}
                    <div class="dropdown-menu " style="position: absolute; z-index: 2000">
                        <a class="dropdown-item" href="/account/profile/{{user.id}}">Profile</a>
                        <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">Logout</a>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                </div>
                {{ else}}
                <div class="mr-3">
                    <a href="/account/login">
                        <button type="button" class="btn btn-success text-uppercase">
                            Đăng nhập
                        </button>
                    </a>
                </div>
                <div class="mr-1">
                    <a href="/account/register">
                        <button type="button" class="btn btn-success text-uppercase">
                            Đăng ký
                        </button>
                    </a>
                </div>
                {{/if}}

            </div>
        </div>
    </div>