<form method="POST" action="/admin/lecture/add" id="editStudent">
    <div class="card">
        <h5 class="card-header">
            HỌC SINH {{this.user.name}}
        </h5>
        <div class="card-body">
            <div class="form-group col-4">
                <label for="txtName">Họ và tên</label>
                <input type="text" class="form-control" id="name" name="name" autofocus value="{{this.user.name}}">
                {{#if this.errorName }}
                <p class="text-danger">{{this.errorName}}</p>
                {{else}}

                {{/if}}
            </div>
            <div class="form-group col-4">
                <label for="txtEmail">Email</label>
                <input type="mail" class="form-control" id="email" name="email" value="{{this.user.email}}">
                {{#if this.errorMail }}
                <p class="text-danger">{{this.errorMail}}</p>
                {{else}}
                {{/if}}
            </div>
        </div>
        <div class="mr-3 ml-4">
            <a class="btn btn-primary ml-2" href="/admin/student" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to List
            </a>
            <button type="submit" class="btn btn-outline-danger" formaction="/admin/student/delete/{{this.user.id}}">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Delete
            </button>
            <button type="submit" class="btn btn-outline-success" formaction="/admin/student/{{this.user.id}}">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#editStudent').validate({
            rules: {
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
            },
            messages: {
                name: {
                    required: 'Vui lòng nhập họ và tên'
                },
                email: {
                    required: 'Vui lòng nhập email',
                    email: 'Email không đúng định dạng'
                },
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    });
</script>