<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a class="nav-link text-danger" href="#" style="font-size: 20px;"><i class="fa fa-heart mr-3"></i> Những
                    khóa học yêu thích</a>
                {{#if this.empty}}
                <p class="ml-4">Chưa có dữ liệu</p>
                {{/if}}
                <section class="py-3 bg-light">
                    <div class="">
                        <div class="row">
                            {{#each this.courses}}
                            <div class="col-lg-2 col-sm-3 shadow mb-4 ml-4 mr-4 bg-white rounded px-0  py-0 ">
                                <a class="reset-anchor box py-0 rounded-sm align-items-start"
                                    href="/course/{{id}}/detail">
                                    <div class="position-relative overflow-hidden d-block align-items-start">
                                        <div class="box-overlay">
                                        </div>
                                        <a href="/course/{{id}}/detail" style="padding: 0px;width: 100%; height: 70%">
                                            <img style="width: 100%; height: 70%" src="{{avatar_path}}" alt="" />
                                        </a>
                                    </div>
                                    <div class="d-flex flex-column align-items-start bg-white pb-2 px-3">
                                        <a href="/course/{{id}}/detail" style="margin-left: 0px; height: 70px">
                                            <h5 class="h5" style="width: 100%;">
                                                {{title}}
                                            </h5>
                                        </a>
                                        <p style="font-size: 13px; color: #0e5ec7">
                                            Giáo Viên: {{createdName}}
                                        </p>
                                        <p class="course-item-description-home" style="font-size: 14px;">
                                            {{short_description}}</p>
                                        <p style="font-size: 13px; color: #e6b619"> {{catName}}</p>
                                    </div>
                                    <div class="d-flex -flex-column justify-content-between px-3 py-0"
                                        style="margin-top: -24px;">
                                        <p class="text" style="font-size: 14px;">{{review_score}} điểm</p>
                                        <p class="text-success" style="font-size: 14px;">{{price}}</p>
                                    </div>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>