<div class="card">
	<h5 class="card-header d-flex justify-content-between">
		DANH SÁCH GIÁO VIÊN
		<a class="btn btn-outline-success" href="/admin/lecture/add" role="button">
			<i class="fa fa-plus" aria-hidden="true"></i>
			Thêm giáo viên
		</a>
	</h5>
	{{#if this.empty}}
	<div class="card-body">
		<p class="card-text">Không có dữ liệu.</p>
	</div>
	{{else}}
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Avatar</th>
					<th scope="col">Họ & tên</th>
					<th scope="col">Email</th>
					<th scope="col">Trạng thái</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{{#each this.users}}
				<tr>
					<th scope="row">{{id}}</th>
					<td> <img src="{{avatar_path}}" style="width: 100px;" alt="avt"></td>
					<td>{{name}}</td>
					<td>{{email}}</td>
					<td>
						{{#ifCond status 1}}
						<p class="text-success">Hoạt động</p>
						{{/ifCond}}
						{{#ifCond status 2}}
						<p class="text-warning">Tạm khóa</p>
						{{/ifCond}}
					</td>
					<td class="text-right">
						<a class="btn btn-sm btn-primary" href="/admin/lecture/{{id}}" role="button"
							title="Edit lecture">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<nav aria-label="Page navigation example" class="float-right">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="?page={{this.prevPage}}&pageSize=5" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{{#prevPage 1 this.currentPage 1}}
				<li class="page-item"><a class="page-link" href="?page={{this}}&pageSize=5">{{ this }}</a></li>
				{{/prevPage}}
				<li class="page-item active"><a class="page-link" href="?page={{this.currentPage}}&pageSize=5">{{
						this.currentPage }}</a></li>
				{{#nextPage this.currentPage this.totalPage 1}}
				<li class="page-item"><a class="page-link" href="?page={{this}}&pageSize=5">{{ this }}</a></li>
				{{/nextPage}}
				<li class="page-item">
					<a class="page-link" href="?page={{this.nextPage}}&pageSize=5" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	{{/if}}
</div>