<div class="container">
    {{!-- <form method="POST" class="d-flex justify-content-between mr-3 mb-3">
        <div class="text-muted">
            {{#ifCond this.detail.status 1}}
            <button type="button" class="btn btn-danger" onclick="/admin/course/{{this.detail.id}}/delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Xóa khóa học
            </button>
            <button type="submit" class="btn btn-warning" formaction="/admin/course/{{this.detail.id}}/block">
                <i class="fa fa-exclamation-circle"></i>
                Đình chỉ khóa học
            </button>
            {{/ifCond}}
            {{#ifCond this.detail.status 2}}
            <button type="button" class="btn btn-danger" onclick="/admin/course/{{this.detail.id}}/delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Xóa khóa học
            </button>
            <button type="submit" class="btn btn-success" formaction="/admin/course/{{this.detail.id}}/un-block">
                <i class="fa fa-heart mr-3"></i>
                Bỏ đình chỉ
            </button>
            {{/ifCond}}
        </div>
    </form> --}}
    <div style="background-image:
           url('{{this.detail.avatar_path}}'); 
    width: 100%; 
    height:300px;
    padding: 30px;
    margin-bottom: 20px; 
    background-position:center;"> </div>
    <div class="d-flex flex-row justify-content-between">
        <div>
            <h1>{{this.detail.title}}</h1>
            <p class="col-6">{{this.detail.short_description}}</p>
        </div>
        <div class="col-lg-3 col-sm-4 d-flex flex-column align-items-end">
            <h4 class="text-success">{{this.detail.price}}</h4>
            {{#if this.isLove}}
            <a type="submit" class="btn btn-warning" href="/course/{{this.detail.id}}/wish-list/remove">
                <i class="fa fa-heart mr-3"></i>
                Bỏ yêu thích
            </a>
            {{else}}
            <a type="submit" class="btn btn-success" href="/course/{{this.detail.id}}/wish-list/add">
                <i class="fa fa-heart mr-3"></i>
                Thêm vào yêu thích
            </a>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4" id="headings">
                <div class="card-header">Mô tả khóa học</div>
                <div class="card-body">
                    <h6>{{this.detail.description}}</h6>
                </div>
            </div>
            <div class="card mb-4" id="tables">
                <div class="card-header">Thành viên</div>
                <div class="card-body">
                    <h6>Giảng viên</h6>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="{{this.lectures.avatar_path}}"
                                        style="width: 30px; height: 30px; border-radius: 100px" alt="avatar" /></td>
                                <td>{{this.lectures.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h6>Học sinh </h6>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.students}}
                            <tr>
                                <td><img src="{{avatar_path}}" style="width: 20px; height: 20px; border-radius: 100px"
                                        alt="avatar" /></td>
                                <td>{{name}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4" id="content-formatting">
                <div class="card-header">Nội dung khóa học</div>
                <div class="card-body">
                    {{#each this.chapters}}
                    <div class="mb-4">
                        <h6 class="text-primary">
                            Chương {{chapter}}: {{title}}
                        </h6>
                        {{#each lessons}}
                        <div class="ml-4 mt-2 d-flex flex-column">
                            <h7 class="mb-2" style="color:coral;">
                                Bài {{lesson}}: {{title}}
                            </h7>
                            {{#each resources}}
                            <iframe width="400" height="250" src="{{resource_path}}">
                            </iframe>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4" id="forms">
        <div class="card-header">Đánh giá</div>
        <div class="card-body">
            <form action="/course/{{this.detail.id}}/review" method="POST">
                <fieldset>
                    <div class="form-group">
                        <label for="exampleInputEmail">Nhập đánh giá của bạn</label>
                        <input class="form-control " id="exampleInputEmail" type="text" name="content"
                            placeholder="Nhập đánh giá của bạn">
                    </div>
                    <button class="btn btn-primary" style="float:right" type="submit">Gửi</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="card mb-4" id="buttons">
        <div class="card-header">Đánh giá từ học viên</div>
        {{#each this.reviews}}
        <div class="mt-2 ml-4">
            <div class="d-flex flex-row align-items-center mb-2">
                <img src={{avatar_path}} alt="avt"
                    style="width: 30px; height: 30px; border-radius: 100px; margin-right: 16px" />
                <h6>{{name}}</h6>
            </div>
            <p>{{content}}</p>
        </div>
        {{/each}}
    </div>
</div>
<script>
    $('select').on('change', function (e) {
        console.log(e)
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
    ....
});
</script>